*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer p {
    margin-bottom: 1em;
}

.highlight {
    color: #F89B37;
    font-weight: bold;
}